{
  "Entries": [
    {
      "RequestUri": "/qnamaker/v5.0-preview.1/knowledgebases/0667a3c4-fd61-4f13-9ada-a7fc0e257112/generateAnswer",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"question\": \"tell me\",\r\n  \"top\": 10,\r\n  \"isTest\": true,\r\n  \"context\": {\r\n    \"previousQnaId\": -1,\r\n    \"previousUserQuery\": \"\"\r\n  },\r\n  \"answerSpanRequest\": {\r\n    \"enable\": true,\r\n    \"scoreThreshold\": 10.0,\r\n    \"topAnswersWithSpan\": 3\r\n  }\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          "7942ed8406a748309d63728b2b7f7378"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "csp-billing-usage": [
          "CognitiveServices.QnAMakerV2.Transaction=1"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"answers\": [\r\n    {\r\n      \"questions\": [\r\n        \"tell me about yourself\"\r\n      ],\r\n      \"answer\": \"Well, I am a **bot** who can answer your questions. I expected a 'how are you?'. But most of my users never ask how I am. You may try any other question. And, I am pretty sure, I wil not disappoint you. I seem to be talkative but there are algorithms which shut me up with their short answers built on MRC.\",\r\n      \"score\": 98.0,\r\n      \"id\": 6,\r\n      \"source\": \"Editorial\",\r\n      \"metadata\": [\r\n        {\r\n          \"name\": \"timeoftheday\",\r\n          \"value\": \"morning\"\r\n        }\r\n      ],\r\n      \"context\": {\r\n        \"isContextOnly\": false,\r\n        \"prompts\": []\r\n      }\r\n    },\r\n    {\r\n      \"questions\": [\r\n        \"tell me more\"\r\n      ],\r\n      \"answer\": \"I am a **bot** and will try to get right and precise information for you. Anytime, any number of times. You ask me some question, I won't judge you. You ask me the same question in the evening. Well, I really don't judge you but humbly take the question and give it to my engineers and get answers finely crafted for you.\",\r\n      \"score\": 98.0,\r\n      \"id\": 10,\r\n      \"source\": \"Editorial\",\r\n      \"metadata\": [\r\n        {\r\n          \"name\": \"timeoftheday\",\r\n          \"value\": \"evening\"\r\n        }\r\n      ],\r\n      \"context\": {\r\n        \"isContextOnly\": false,\r\n        \"prompts\": []\r\n      }\r\n    },\r\n    {\r\n      \"questions\": [\r\n        \"tell me who you are\"\r\n      ],\r\n      \"answer\": \"Well, I am a **bot** who can answer and ask you questions as well. If you see options below. Click one of them\",\r\n      \"score\": 98.0,\r\n      \"id\": 7,\r\n      \"source\": \"Editorial\",\r\n      \"metadata\": [\r\n        {\r\n          \"name\": \"timeoftheday\",\r\n          \"value\": \"forenoon\"\r\n        }\r\n      ],\r\n      \"context\": {\r\n        \"isContextOnly\": false,\r\n        \"prompts\": [\r\n          {\r\n            \"displayOrder\": 0,\r\n            \"qnaId\": 8,\r\n            \"displayText\": \"Are you hungry?\"\r\n          },\r\n          {\r\n            \"displayOrder\": 0,\r\n            \"qnaId\": 9,\r\n            \"displayText\": \"Are you sleepy?\"\r\n          }\r\n        ]\r\n      },\r\n      \"answerSpan\": {\r\n        \"text\": \"I am a **bot** who can answer and ask you questions as well.\",\r\n        \"score\": 20.02,\r\n        \"startIndex\": 6,\r\n        \"endIndex\": 66\r\n      }\r\n    }\r\n  ],\r\n  \"activeLearningEnabled\": true\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}