{
  "Entries": [
    {
      "RequestUri": "/qnamaker/v5.0-preview.1/knowledgebases/9e65acc2-ce5e-4530-8ce1-abb19b9f66bd/generateAnswer",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"question\": \"good afternoon\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"answers\": [\r\n    {\r\n      \"questions\": [\r\n        \"Good Afternoon !\"\r\n      ],\r\n      \"answer\": \"Good Afternoon! I hope you are doing well\",\r\n      \"score\": 100.0,\r\n      \"id\": 191,\r\n      \"source\": \"out.txt\",\r\n      \"metadata\": [],\r\n      \"context\": {\r\n        \"isContextOnly\": false,\r\n        \"prompts\": []\r\n      }\r\n    }\r\n  ],\r\n  \"debugInfo\": null\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}